###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=https://rafalbrauner.localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_VERSION="18"
DATABASE_HOST="postgres"
DATABASE_PORT="3306"
DATABASE_USER="root"
DATABASE_PASSWORD="secret"
DATABASE_NAME="rafalbrauner"
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?serverVersion=${DATABASE_VERSION}&charset=utf8"
###< doctrine/doctrine-bundle ###

###> rbrauner/rafalbrauner ###
TZ=Europe/Warsaw
UID=1000
GID=1000
DOMAIN=rafalbrauner.localhost
###< rbrauner/rafalbrauner ###
