{
    debug
    admin off
    auto_https off
}

:80 {
    root * /var/www/html/public
    encode gzip
    php_fastcgi rafalbrauner-php:9000
    file_server
}

:443 {
    root * /var/www/html/public
    encode gzip
    php_fastcgi rafalbrauner-php:9000 {
        header_up X-Forwarded-Proto "https"
        env HTTPS on
    }
    file_server
}

:5173 {
    reverse_proxy rafalbrauner-node:5173
}
